<h1>Recipients</h1>
<% recipients.forEach( r => { %>
    <a class="btn modal-trigger" href="#modal<%= r.id %>"><%= r.firstName %> <%= r.lastName %></a><br><small><%= r.relationship %></small><br>

    <div id="modal<%= r.id %>" class="modal">
        <div class="modal-content">
            <h4>modal</h4>
            <p>text in the modal</p>
        </div>
        <div class="modal-footer">
            <form action="/recipients/<%= r.id %>?_method=DELETE" method="POST">
                <button class="modal-close btn" type="submit">Delete</button>
            </form>
            <a href="#!" class="modal-close gray btn">Close</a>
        </div>
    </div>

<% }) %> 


<br>
<form action="/recipients/new">
    <input type="submit" value="Add New">
</form>