<h1>Recipients</h1>
<% console.log('RECIPIENTS HERE:', recipients) %>
<% if (recipients.length == 0) { %>
    <h3>
        Add your first recipients!!!
    </h3>
<% } else { %>
    <% recipients.forEach( r => { %>
        <a class="btn modal-trigger" href="#modal<%= r.id %>"><%= r.firstName %> <%= r.lastName %></a><br><small><%= r.relationship %></small><br>

        <div id="modal<%= r.id %>" class="modal">
            <div class="modal-content">
                <h4>modal</h4>
                <p>text in the modal</p>
            </div>
            <div class="modal-footer">
                <form action="/recipients/<%= r.id %>?_method=DELETE" method="POST">
                    <button class="modal-close red btn" type="submit">Delete</button>
                    <a href="#!" class="modal-close blue btn">Close</a>
                </form>
            </div>
        </div>

    <% }) %> 
<% } %>


<br>
<form action="/recipients/new">
    <input class="btn blue" type="submit" value="Add New">
</form>