<div class="row">
    <div class="col s12">
        <h1>Gifts</h1>
        <h3>Find new gifts on Etsy:</h3>
        <form action="/gifts/results">
            <label for="search">Keywords</label>
            <input type="text" id="search" name="search">
            <input type="submit" class="btn blue" value="Search">
        </form>
    </div>
</div>

<div class="row">
    <% gifts.forEach(g => { %>
        <div class="col l6 m12 s12">
            <div class="card medium">
                <div class="card-content">
                    <h4><a href=<%=`https://www.etsy.com/listing/${g.etsyListingId}`%> target="_blank"><%= g.name %></a></h4>
                    <h6><%= g.firstName %> <%= g.lastName %></h6>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col">
                            <% if (g.isPurchased == false) { %>
                                <form action="/gifts/<%= g.id %>?_method=PUT" method="POST">
                                    <input class="btn" type="submit" value="Bought it!">
                                </form>
                            <% } else { %>
                                <h6>Purchased!</h6>
                            <% } %>
                        </div> 
                        <div class="col right">
                            <form action="/gifts/<%= g.id %>?_method=DELETE" method="POST">
                                <input class="btn red" type="submit" value="Delete">
                            </form>
    
                        </div>
                    </div> 
                </div>
            </div>
        </div>


    <% }) %>
</div>