<h4><%= etsyData.title %></h4>
<% console.log(etsyData) %>
<form action="/gifts" method="POST">
    <input type="text" name="name" value="<%= etsyData.title %>" hidden>
    <input type="text" name="etsyListingId" value="<%= etsyData.listing_id %>" hidden>
    <input type="text" name="store" value="Etsy" hidden>
    <label for="recipientId">Recipient</label>
    <select name="recipientId" id="recipientId">
        <option disabled selected>Choose...</option>
        <% recipients.forEach(r => { %>
            <option value="<%= r.dataValues.id %>"><%= r.dataValues.firstName %> <%= r.dataValues.lastName %></option>
        <% }) %>
    </select>
    <input type="submit" value="Add to Gifts">
</form>