<h1>Search</h1>
<form action="/gifts/results">
    <label for="search">Keywords</label>
    <div class="row">
        <div class="col s8">
            <input type="text" id="search" name="search" value="<%= keyword %>">
        </div>
        <div class="col s4">
            <input type="submit" class="btn blue" value="Search">
        </div>
    </div>
</form>
<div class="row">
    <div class="col s12">
        <small>All prices USD unless otherwise noted.</small>
    </div>
</div>
<div class="row">
    <% results.forEach(r => { %>
        <div class="col l6 m12 s12">
            <div class="card blue-grey small">
                <div class="card-content white-text">
                    <p class="flow-text"><%= r.title.replaceAll(`&quot;`, `"`).replaceAll(`&#39;`, `'`) %></p>
                    <% if (r.price.currency_code != "USD") { %>
                        <p><%= (r.price.amount / r.price.divisor).toFixed(2) %>+ <%= r.price.currency_code %></p>
                    <% } else { %>
                        <p>$<%= (r.price.amount / r.price.divisor).toFixed(2) %>+</p>
                    <% } %>
                </div>
                <div class="card-action">
                    <a href="<%= r.url %>" target="_blank">View on Etsy</a>
                    <a href="/gifts/etsy/<%= r.listing_id %>">Add to Gift List</a>
                </div>
            </div>
        </div>
    <% }) %>
</div>